.profile__edit-button{
    margin-left: 18px;
    width: 24px;
    height: 100%;
    cursor: pointer;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}

.profile__edit-button:hover{
    opacity: 60%;
}

@media all and (max-width: 1024px)
{
    .profile__edit-button{
        margin-left: 16px;
        width: 20px;
    }
}

@media all and (max-width: 850px)
{
    .profile__edit-button{
        margin-left: 14px;
        width: 18px;
    }
}

@media all and (max-width: 760px)
{
    .profile__edit-button{
        margin-left: 12px;
        width: 15px;
    }
}

@media all and (max-width: 650px)
{
    .profile__edit-button{
        margin-left: 9px;
        width: 14px;
    }
}

@media all and (max-width: 650px)
{
    .profile__edit-button{
        margin-left: 9px;
        width: 12px;
    }
}

@media all and (max-width: 480px)
{
    .profile__edit-button{
        margin-left: 10px;
        width: 18px; 
    }
}
