.popup__name{
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 54px;
    margin-left: calc(36/430*100%);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;

    border: 0;
    width: calc(358/430*100%);
    height: 27px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    background-color: transparent;
    font-size: 14px;
    font-family: inherit;
}

.popup__name:focus{
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

@media all and (max-width: 850px)
{
    .popup__name{
        margin-top: 44px;
    }
}

@media all and (max-width: 650px)
{
    .popup__name{
        margin-top: 30px;
        font-size: 12px;
        line-height: 14px;
    }
}

@media all and (max-width: 480px)
{
    .popup__name{
        width: calc(238/282*100%);
        margin: auto;
        margin-top: 75px;
        font-size: 14px;
        line-height: 17px;
    }
}