.profile__plus{
    width: calc(22/150*100%);
    margin: auto;
    aspect-ratio: 1/1;
    background-image: url('../../..//images/plus-big.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media all and (max-width: 480px)
{
    .profile__plus{
        background-image: url('../../..//images/plus.svg');
        width: 16px;
    }
}