.popup__button-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    margin-top: 14px;
}

@media all and (max-width: 850px)
{
    .popup__button-text{
        font-size: 16px;
        line-height: 20px;
    }
}

@media all and (max-width: 650px)
{
    .popup__button-text{
        font-size: 14px;
        line-height: 18px;
    }
}

@media all and (max-width: 480px)
{
    .popup__button-text{
        line-height: 17px;
    }
}


